/*
======================================
; Title: fmg.css 
; Author: Chris Gorham
; Date: 11 Jan 2023
; Description: This code establishes the styling for the entire site
; Sources Used: W3 Schools CSS Template https://www.w3schools.com/css/css_templates.asp
;=====================================
*/

/* creates all the values and sets all the variable names for the light theme */
body.light-theme {
  --text-color: #000;
  --background-color: #fff;
  --frame-color:#f1f1f1;
  --link-color: #FE6666;
  --visited-link-color: #FE6666;
  --link-hover: #FF6699;
  transition: 0.5s;

  }
  
  /* creates all the values and sets all the variable names for the dark theme */
  body.dark-theme {
  --text-color: #fff;
  --background-color: #303030;
  --frame-color: #585858;
  --link-color: #FE6666;
  --visited-link-color: #FE6666;
  --link-hover: #FF6699;
  transition: 0.5s;
  }

body {
  font-family: 'Lora', serif;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--background-color);
  margin: 2;
  padding: 2px;
}

p {font-family: 'Lora', serif;
    font-size:16px;
}

h1 {
    font-family: 'jennifer_lynneregular', 'Varela Round', sans-serif; 
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-family: 'Sofia Sans Extra Condensed', 'Varela Round', sans-serif; 
    font-weight: 400;
    font-size: 96px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-family: 'Varela Round', sans-serif; 
    font-weight: 400;
    font-size: 72px;
}

.footer {
  overflow: hidden;
  background-color: #fecac4;
  font-family: 'Lora', serif;
  color: #000;
  padding: 16px;
}

.footer a {
  padding: 16px;
  text-decoration: none;
  color: #000;
}

.footer a:visited {
  padding: 16px;
  text-decoration: none;
  color: #000;
}

.toggle {
  font-family: 'Lora', serif;
    font: size 16px;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

a:hover {
    color: var(--link-hover);
}

.disclaimer {
    text-align: center;
}

#examples {
    text-align: center;
}

#newcreations {
    text-align: center;
}

#icon-mode:hover {
  cursor: pointer;
}

#icon-text {
  padding-left: 10px;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Style the header */
  .header {
    background-color: var(--background-color);
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #fecac4;
    font-family: 'Lora', serif;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #FEA0AE;
    color: black;
  }
  
 /* left column */
 .leftcolumn {
    float:left;
    width: 70%;
    margin-top: 20px;
    background-color: var(--frame-color);
    padding: 10px;
  }

  /* right column */
  .rightcolumn {
    float:left;
    width: 25%;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: var(--frame-color);
  }

  .right-column-text {
    padding-right: 5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

.examples {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.new-examples {
  border-radius: 5px;
  width: 70%;
}

.examples:hover {
  opacity: 0.7;
}

.new-examples:hover {
  opacity: 0.7;
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* start of CSS for contact form on index.html */
input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Lora', serif;
  font-size: 16px;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
}

input[type=submit]:hover {
  opacity: 0.9;
}

.requestbox {
  height: 200px;
}

.requestbox:focus {
  background-color: lightblue;
}

.page-margin-right{
  margin-right:16px!important}

#stuff-centered {
  text-align: center;
  float: center;
}

.pull-right {
  float: right;
}

.disclaimer-left {
  float:left;
}

/* Styles the links in the footer disclaimer note */
a.disclaimer-links:link {color: black};
a.disclaimer-links:visited {color: black;}
a.disclaimer-links:hover {color: #fe666f;}
.x-large {font-size: 24px;}

