html, body {
  font-family: 'Lora', serif;
    font-size: 16px;
}

p {font-family: 'Lora', serif;
    font-size:16px;
}

h1 {
    font-family: 'Varela Round', sans-serif; 
    font-weight: 400;
    font-size: 34px;
}

h2 {
    font-family: 'Varela Round', sans-serif; 
    font-weight: 400;
    font-size: 24px;
}

h3 {
    font-family: 'Varela Round', sans-serif; 
    font-weight: 400;
    font-size: 18px;
}

a:link {
    color:#782b7a;
}

a:visited {
    color:#782b7a;
}

a:hover {
    color: #c581c7;
}

#disclaimer {
    text-align: center;
}

#examples {
    text-align: center;
}

#newcreations {
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  body {
    margin: 2;
    max-width: 1400px;
    background: #FFFFFF;
    padding: 5px;
  }
  
  /* Style the header */
  .header {
    background-color: #ffffff;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #ffdeff;
    font-family: 'Lora', serif;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #de92e0;
    color: black;
  }
  
 /* left column */
 .leftcolumn {
    float:left;
    width: 70%;
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 10px;
  }

  /* right column */
  .rightcolumn {
    float:left;
    width: 25%;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #f1f1f1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

  #example1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example1:hover {opacity: 0.7;}

  #example2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example2:hover {opacity: 0.7;}

  #example3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example3:hover {opacity: 0.7;}

  #example4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example4:hover {opacity: 0.7;}

  #example5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example5:hover {opacity: 0.7;}

  #example6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example6:hover {opacity: 0.7;}

  #example7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example7:hover {opacity: 0.7;}

  #example8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example8:hover {opacity: 0.7;}

  #example9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example9:hover {opacity: 0.7;}

  #example10 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example10:hover {opacity: 0.7;}

  #example11 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example11:hover {opacity: 0.7;}

  #example12 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example12:hover {opacity: 0.7;}

  #example13 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example13:hover {opacity: 0.7;}

  #example14 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example14:hover {opacity: 0.7;}

  #example15 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example15:hover {opacity: 0.7;}

  #example16 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example16:hover {opacity: 0.7;}

  #example17 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example17:hover {opacity: 0.7;}

  #example18 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example18:hover {opacity: 0.7;}

  #example19 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example19:hover {opacity: 0.7;}


  #example20 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #example20:hover {opacity: 0.7;}


  #new1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #new1:hover {opacity: 0.7;}


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* start of CSS for contact form on index.html */

input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Lora', serif;
  font-size: 16px;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
}

input[type=submit]:hover {
  opacity: 0.9;
}

.requestbox {
  height: 200px;
}

.requestbox:focus {
  background-color: lightblue;
}

.page-margin-right{
  margin-right:16px!important}

#stuff-centered {
  text-align: center;
  float: center;
}